img[alt*="right"] {
  float:right;
  clear:right;
  margin-left: 1rem;
  margin-bottom: 2px;
  margin-top: 2px;
}

img[alt*="left"] {
  float:left;
  clear:left;
  margin-right: 1rem;
  margin-bottom: 1px;
  margin-top: 2px;
}