/* Hide properties view in both reading & live preview/editing mode */
body {
	--metadata-display-reading: none;
	--metadata-display-editing: none;
  }
  
  /* Or hide only in reading, but also hide in edit for certain notes via cssclasses */
  .PropZero {
	--metadata-display-reading: none;
	--metadata-display-editing: none;
  }