/* === Inline Title Centered with Full-Width Separator === */
.inline-title {
	text-align: center;
	margin-top: -0.2em;
	margin-bottom: 1.0em;
	font-size: 1.6em;
	font-weight: 600;
	position: relative;
  }
  
  /* Full-width line that ignores note padding */
  .inline-title::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw; /* spans the entire viewport width */
	height: 2px;
	/* background-color: var(--background-modifier-border); */
	background-color: currentColor;
	opacity: 0.6;
	margin-top: 1.6em;
  }