/**
* Print stylesheet for yourwebsite.com
* @version         1.0
* @lastmodified    16.06.2016
*/
@media print {
  
  /* Setting content width, unsetting floats and margins */
  /* Attention: the classes and IDs vary from theme to theme. Thus, set own classes here */
  #content,#page {
  width: 100%; 
  margin: 0; 
  float: none;
  }
  /** Setting margins */       
  @page { margin: 6cm }
  /* Or: */
  @page :left {
  margin: 3cm;
  }
  @page :right {
  margin: 3cm;
  }
  /* The first page of a print can be manipulated as well */
  @page :first {
  margin: 1cm 2cm;
  }


  /* Set font to 16px/13pt, set background to white and font to black.*/
  /* This saves ink */
  body {
  font: 22px Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
  background: #fff !important;
  color: #000;
  }
  h1 {
  font-size: 24pt;
  }
  h2, h3, h4 {
  font-size: 14pt;
  margin-top: 25px;
  }


  /* Defining all page breaks */
  a {
  page-break-inside:avoid
  }
  blockquote {
  page-break-inside: avoid;
  }
  h1, h2, h3, h4, h5, h6 { page-break-after:avoid; 
  page-break-inside:avoid }
  img { page-break-inside:avoid; 
  page-break-after:avoid; }
  table, pre { page-break-inside:avoid }
  ul, ol, dl  { page-break-before:avoid }



  }