{css sidenote, echo = FALSE}
.main-container {
    margin-left: 250px;
}

.sidenote, .marginnote { 
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;         # best between 50% and 60%
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
  }